---
name: Lint

on:
  workflow_dispatch:
  pull_request:

jobs:
  lint:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install Rust toolchain
        run: |
          rustup toolchain install nightly --profile minimal -c rustfmt,clippy

      - name: Format
        run: |
          cargo +nightly fmt --all -- --check

      - name: Clippy
        run: |
          cargo +nightly clippy --all-targets
